In [1]:
import pandas as pd
import pymongo

In [2]:
gdp_file = "Resources/API_NY_GDP.csv"
gdp_df = pd.read_csv(gdp_file,encoding = "ISO-8859-1")

In [3]:
gdp_df= gdp_df.iloc[:,[0,1,2,58,59,60]]
gdp_df =gdp_df.dropna()

In [4]:
gdp_df =gdp_df.dropna()

In [6]:
gdp_df['GDP_growth_percent'] = ((gdp_df['2016'] - gdp_df['2014'])/gdp_df['2014'])*100

In [13]:
gdp_df['average_gdp']=(gdp_df['2014']+gdp_df['2015']+gdp_df['2016'])/3

In [7]:
db=client.gdp_data
db.gdp_data.drop()

In [8]:
records =gdp_df.to_dict(orient="records")
    ##print(records)
db.gdp_data.insert_many(records)

In [11]:
gdp_df.sort_values('GDP_growth_percent',inplace =True,ascending =False)

In [9]:
gdp_df.sort_values('2016',inplace =True,ascending =False)

In [10]:
gdp_df = gdp_df.reset_index()

In [12]:
gdp_df.iloc[[12,18,23,25,31,33,34,36,37,38],:]

,index,Country Name,Country Code,Indicator Name,2014,2015,2016
12,249,United States,USA,GDP (current US$),1.742760e+13,1.812070e+13,1.862450e+13
18,38,China,CHN,GDP (current US$),1.048240e+13,1.106470e+13,1.119910e+13
23,117,Japan,JPN,GDP (current US$),4.850410e+12,4.394980e+12,4.949270e+12
25,53,Germany,DEU,GDP (current US$),3.890610e+12,3.375610e+12,3.477800e+12
31,79,United Kingdom,GBR,GDP (current US$),3.022830e+12,2.885570e+12,2.650850e+12
33,75,France,FRA,GDP (current US$),2.849310e+12,2.433560e+12,2.465450e+12
34,107,India,IND,GDP (current US$),2.035390e+12,2.089870e+12,2.263790e+12
36,114,Italy,ITA,GDP (current US$),2.151730e+12,1.832870e+12,1.859380e+12
37,27,Brazil,BRA,GDP (current US$),2.455990e+12,1.803650e+12,1.796190e+12
38,33,Canada,CAN,GDP (current US$),1.799270e+12,1.559620e+12,1.535770e+12

In [41]:
job_file = "Resources/Data_Extract_From_Jobs.csv"
job_df = pd.read_csv(job_file,encoding = "ISO-8859-1")

In [43]:
job_df = job_df.iloc[:,[0,1,2,3,6,7,8]]

In [44]:
job_df = job_df.rename(columns= {'2014 [YR2014]':'2014','2015 [YR2015]':'2015','2016 [YR2016]':'2016'})

In [45]:
job_df.head

,Country Name,Country Code,Series Name,Series Code,2014,2015,2016
0,Afghanistan,AFG,"Employers, total (% of total employment) (mode...",SL.EMP.MPYR.ZS,1.302000046,1.264000058,1.243999958
1,Afghanistan,AFG,Employment in agriculture (% of total employme...,SL.AGR.EMPL.ZS,61.63000107,61.13199997,61.34899902
2,Afghanistan,AFG,Employment in industry (% of total employment)...,SL.IND.EMPL.ZS,6.493000031,6.723999977,6.741000175
3,Afghanistan,AFG,Employment in services (% of total employment)...,SL.SRV.EMPL.ZS,31.87700081,32.14500046,31.90999985
4,Albania,ALB,"Employers, total (% of total employment) (mode...",SL.EMP.MPYR.ZS,1.975999951,2.400000095,2.434999943

In [46]:
records =job_df.to_dict(orient="records")

In [48]:
db=client.job_data
db.job_data.drop()
db.job_data.insert_many(records)